name: Foundry Tests

on:
  push:
    branches:
      - main
      - master
  pull_request:

env:
  FOUNDRY_PROFILE: default

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run Tests
        run: forge test -vv
